# Відкриті конфігураційні файли IDE
.vscode/
.idea/

# Папки, згенеровані Unity, які не потрібно пушити
Library/
Temp/
Obj/
Logs/
Build/
Builds/

# Налаштування користувача, які не є обов'язковими для проекту
UserSettings/

# Зібрані білди та їх архіви
Build1/
*.zip
*.rar
*.tar.gz

# Інші файли, які не варто пушити
.DS_Store
Thumbs.db
*.bak
*.tmp
